@media only screen and (max-width: 853px){

    #header{
        position: fixed;
        top: 0;
        display: flex;
        flex-flow: column;
        width: 99vw;
        height: 19vh;
        margin: 0;
        padding: 0;
        box-shadow: .8px 7px 9px grey;
        background-color: whitesmoke;
        border-radius: 5px;
        perspective: 250px;
        z-index: 1;
    }

    #cart{
        display: flex;
        flex-flow: row;
        position: relative;
        left: 2%;
        top: 14%;
        transition-duration: .1s;
        background-image: var(--nav-bg-img);
        width: 40%;
        height: 65%;
        border-radius: 10px;
    }

    #navBar{
        position: relative;
        display: flex;
        flex-flow: row;
        transition-duration: 1s;
        width: 95%;
        height: 65%;
        margin: .8%;
        padding: 0;
        border-radius: 10px;
        background-image: var(--nav-bg-img);
        z-index: -2;
    }
    
    #cart-price{
        position: relative;
        left: 2%;
        display: flex;
        flex-flow: row;
        width: 90%;
        height: 90%;
        margin-top: .3%;
    }

    #price{
        position: relative;
        top: 16%;
        display: flex;
        flex-flow: row;
        background-image: var(--nav-bg-img);
        transition-duration: .1s;
        width: 54%;
        height: 69%;
        border-radius: 10px;
        overflow-x: hidden;
    }

    #cart label{
        position: relative;
        color: white;
        text-shadow: 1px 0px 0px black;
        top: 20%;
        font-size: 1em;
     }

     #svg-button{
        position: relative;
        left: 10%;
        transition-duration: .1s;
        background: none;
        border: none;
        width: 24%;
        cursor: pointer;
        border-radius: 10px;
     }

     #purchase-button{
        position: relative;
        font-size: 1.2em;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        transition-duration: .1s;
        top: -6%;
        left: 30%;
        width: 40%;
        height: 35%;
        border-radius: 10px;
        text-shadow: 1px 0px 0px black;
        color: white;
        background-image: var(--nav-bg-img);
        border: none;
        cursor: pointer;
    }
    
}