@media only screen and (max-width: 481px){
    #outer-screen{
        width: 95%;
        left: 1%;
    }

    .labels{font-size: .9rem;}
    .value-display{font: .9rem;}

    .delete-button{font-size: .5rem;}

}