@media only screen and (max-width: 853px){

    #screen{
      margin-top: 60%;
      margin-bottom: 17%;
    }

    .pic-container{
        display: flex;
        flex-flow: row;
        margin: 1%;
        width: 14%;
        height: 56%;
        border-radius: 10px;
        background-image: linear-gradient(0deg, aliceblue, transparent);
        transition-duration: 1.5s;
    }
    
}