@media only screen and (max-width: 853px){
    #select-form{
        width: 95vw;
        left: 2%;
    }

    .form-btn{
        margin-left: 7%;
        width: 26%;
    }
    #size-dropdown{
        width: 50%;
    }

    #size-dropdown:focus{
        font-size: .9em;
        width: 40%;
    }
}