@media only screen and (max-width: 853px){

    #view-all-screen{
        margin-top:45%;
        width: 94vw;
        height: 100vh;
        overflow: scroll;
    }
    .item-display{
        width: 31%;
        margin-left: 1%;
    }
}