@media only screen and (max-width: 853px){

    #confirmation-form{
    width: 92vw;
    height: 57vh;
    margin-left: -18%;
    top: 7%;
}
.confirmation-buttons{
    width: 23%;
    left: 15%;
}
    
}