:root{--header-colo: crimson;}

#order-form-container{
    position: fixed;
    border: .1px solid red;
    top: 5%;
    left: 20%;
    min-width: 55vw;
    max-height: 90vh;
    margin: auto;
    transition-duration: .5s;
    background: none;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    visibility: hidden; 
    box-shadow: 1px 9px 20px black;
    z-index: 3;
}

h1, h3{font-family: Georgia, seri;}

input[type=text], input[type=email], input[type=tel] {
    border: .1px solid cyan;
    min-width: 35%;
    box-shadow: 1px 1px 10px gray;
    margin: 1%;
    border-radius: 2px;
}
input[type=text], input[type=email], input[type=tel]:focus {
    outline: none;
    border: .1px solid lightgreen;
    border-radius: 5px;
}

label{
    font-size: clamp(.6rem, 2vw, 1.1rem);
    margin-left: 4%;
}

#payment-and-delivery{
    display: flex;
    margin: 2%;
    flex-direction: row;
}
#order-title{
    text-align: center;
    margin-top: 0;
    font-size: clamp(.8rem, 2vw, 1.7rem);
    color: var(--header-colo);
}

.pay-and-deliver{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(0deg, lightblue, steelblue);
    box-shadow: 1px .1px 10px black;
    min-width: 45%;
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
}

.pay-and-deliver label{
    position: relative;
    bottom: 7%;
}

.subtitles{
    text-align: center;
    font-size: clamp(.7rem, 2vw, 1.2rem);
    text-decoration: underline;
    color: var(--header-colo)
}

.form-buttons{
    margin-left: 20%;
    margin-top: 0;
    margin-bottom: 5%;
    border-radius: 2%;
    min-width: 15%;
    min-height: 6vh;
    color: aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black  ;
    font-size: clamp(.6rem, 2vw, 1rem)
}

.form-buttons:hover{transform: scale(1.1);}

#form-cancel{
    border: .1px solid crimson;
    background-image: linear-gradient(0deg, cyan, rgb(233, 49, 49));
    box-shadow: 2px 15px 55px red;
}
#form-submit{
    border: .1px solid lime;
    background-image: linear-gradient(0deg, cyan, lime);
    box-shadow: 2px 15px 55px lime;
}
