#order-form-container{
    /* border: 1px solid red; */
    transition-duration: .5s;
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40vw;
    height: 70vh;
    margin: auto;
    background: none;
    border-radius: 10px;
    visibility: hidden;
    z-index: 3;
    
}

#form-border{
    width: 90%;
    height: 80%;
    margin: 2%;
    background-color: rgba(153, 102, 102, 0.50);
    border-radius: 10px;
    box-shadow: 1px 20px 40px lightgrey;
}

.legend-labels{
    background-image: linear-gradient(0deg, lime, aqua);
    font-size: 1.3em;
    border-radius: 10px;
    font-weight: lighter;
    box-shadow: 1px 3px 10px black;
    color: white;
    text-shadow: 2px 0px 0px black;
}
#form-date{
    /* border: 1px solid blue; */
    display: flex;
    flex-flow: column;
    position: relative;
    left: 65%;
    width: 35%;
    height: 13%;
    padding-left: 1%;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 2px 10px black  ;
}

.date-labels{
    font-size: 1em;
    /* letter-spacing: .1cap; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: steelblue;
    /* text-shadow: 1px 0px 0px plum; */
}

#customer-details-section{
    /* border: 1px solid green; */
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border: none    ;
    background-color: whitesmoke;
    box-shadow: 1px 4px 10px black;
}

#payment-delivery{
    /* border: 1px solid tan; */
    display: flex;
    flex-flow: row;
    height: 40%;
    margin-top: 2%;
    border-radius: 10px;
}
input[type="radio"] {
    position: relative;
    right: 15%;
    margin-bottom: -4%;
    /* border-radius: 5px; */
    vertical-align: middle;
  }


  input[type="text"], input[type="email"], input[type="tel"]{
    border-radius: 5px;
    margin: 1%;
    border: .1px solid steelblue;
    box-shadow: .1px 5px 5px lightgrey;
    background-color: white;
  }

  input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus{
    border: .1px solid lime;
    outline: none;
    background-color: lightgoldenrodyellow;
    box-shadow: 1px 2px 10px black;
  }

  input{
    transition-duration: .1s;
  }
input:hover{
    transform: scale(1.1);
    /* box-shadow: 1px 1px 10px black; */
}

  .radio-labels{
    position: relative;
    bottom: 6%;    
  }

.payment-and-delivery{
    /* border: 1px solid brown; */
    display: flex;
    flex-flow: column;
    width: 50%;
    height: 95%;
    background-color: whitesmoke;
    margin: 1%;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 4px 10px black;
}

.form-buttons{
    position: relative;
    left: 13%;
    margin-left: 10%;
    font-size: 1.3em;
    transition-duration: .1s;
    font-weight: lighter;
    border-radius: 10px;
    border: 1px solid lightgreen;
    background-image: linear-gradient(0deg, rgba(50, 178, 201, 0.5), rgba(153, 102, 102, 0.50));
    text-shadow: 1px 0px 0px white;
    width: 20%;
    height: 10%;
    box-shadow: 1px 5px 25px black;
}

.form-buttons:hover{
   font-size: 1.5em; 
   color: white;
   text-shadow: 1px 0px 0px black;
    transform: scale(1.1);
    box-shadow: 1px 9px 25px black;
}

#form-cancel:hover{
    background-image: linear-gradient(0deg, cyan, rgb(233, 49, 49));
    box-shadow: 2px 15px 55px red;
}
#form-submit:hover{
    background-image: linear-gradient(0deg, cyan, lime);
    box-shadow: 2px 15px 55px lime;

}