body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#root {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#app{
    /* border: 4px solid yellow; */
    position: relative;
    height: 100vh;
    margin: 0%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
}