@media only screen and (max-width: 853px){
    
    footer{
        top: 33%;
    }

    #svg-bg{
        top: 60%;
    }

    .footer-svg{
        width: 71%;
        height: 71%;
    }
p{
    width: 90%;
    left: 1.7%;
    color: lime;
    top: 14%;
    padding: 1%;
    font-size: .9em;
}
}